*{
	font-family: "Space Mono";
	font-style: italic;
	font-weight: bold;
	all:unset;
}


/** Boxes ***********************************/

.winbox {
	background-color: #303030;
	border: 1px solid #161616;
	border-radius: 12px;
}

/** Resources ***********************************/

.res_box {
	background-color: #303030;
	border-radius: 12px;
}


.res_circle {
	background-color: #E1DCD2;
	border: 0px solid #161616;
	border-radius: 100%;
}

.res_circle_small {
	background-color: #2e2e2d;
	border: 0px solid #161616;
	border-radius: 100%;
	padding: 11px;
	font-size: 8px;
	font-weight: bold;
}

.res_text {
	background-color: #2e2e2d;
	border-radius: 16px;
	font-size : 14px;
	padding: 0px 8px 0px 8px;
	margin: 0px 0px 0px 0px;
	font-weight : bold;
	color:#08f610;
}

.res_cpu {
	color: #08f610;
}

.res_mem {
	color: #08f610;
}

.res_disk {
	color: #08f610;
}

/** Quotes ***********************************/

.quote_text {
	font-size : 18px;
	font-weight : bold;
	color: #08f610;
}

