* {
	font-family: "Space Mono";
	font-style: italic;
	font-weight: bold;
	all:unset;
}

.container-box {
	border:1px solid #161616;
	border-radius: 12px;
	background-color: #ffffff;
	padding:0px 10px 0 10px
}

.infotext {
	background-color: #40403f;
	border: 0px solid #161616;
	border-radius: 16px;
	font-size : 14px;
	padding: 0px 5px 0px 5px;
	margin: 10px 0px 10px 0px;
	font-weight : bold;
	color:#08f610;
}

